@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
  font-family: 'Android';
  src: url('../assets/fonts/idroid.otf') format('opentype');
  font-weight: normal;
}

:root {
  --cor0: #eff7cf;
  --cor1: #f86734;
  --cor2: #115530;
  --cor3: #3dda84;
  --cor4: #073042;
  --cor5: #d7effe;

  --font-padrao: 'Arial', 'Verdana', 'Helvetica', sans-serif;
  --font-destaque: 'Bebas Neue', cursive;
  --font-android: 'Android', cursive;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: var(--cor0);
  font-family: var(--font-padrao);
}

header {
  background-color: var(--cor2);
  color: white;
}

nav {
  background-color: var(--cor4);
}

main {
  min-width: 300px;
  max-width: 1000px;
  margin: 0px auto 30px;
  padding: 20px;

  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  border-radius: 0px 0px 10px 10px;
  background-color: white;
}

main h1 {
  color: var(--cor2);
  font-family: var(--font-android);
}

main h2 {
  font-family: var(--font-android);
}

main img {
  width: 80%;
}

main img.small {
  width: calc(80% / 3);
  display: block;
  margin: auto;
}

footer {
  color: white;
  background-color: var(--cor2);
}
